body{
	background 	:orange;
}

#socialMedia img{
	width : 60px;
	margin : 50px;
}

#socialMedia{
	text-align	: center; /*centers content in box*/
	height 		:250px;
	width 		:100%;
	position 	:absolute;
	top 		:0px;
	bottom 		:0px;
	left 		:0px;
	right 		:0px;
	margin 		:auto;
}

#topPanel{
	position 	:absolute;
	top 		:0px;
	left 		:0px;
	width 		:100vw;
	height 		:50vw;
	background	: black;
	z-index		: 10; /*puts panel in front of icons*/
}

#bottomPanel{
	position 	:absolute;
	bottom 		:0px;
	left 		:0px;
	width 		:100vw;
	height 		:50vw;
	background	: black;
	z-index		: 10; /*puts panel in front of icons*/
}